@use 'variable' as *;

.searchTag {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  .searchTagName {
    font-size: 45px;
    font-family: 'NanumSquareNeo';
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .searchTagDesc {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 300;
    color: #525252;
    .searchTagCnt {
      color: #333;
      font-weight: 500;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .searchTag {
    .searchTagName {
      font-size: 35px;
      margin-bottom: 2rem;
    }
    .searchTagDesc {
      font-size: 13px;
    }
  }
}
