@use 'variable' as *;

$color-primary-light: $blue-4;
$color-text: $blue-3;
$color-primary: $blue-3;
$color-white: $white;
$color-secondary: $black-1;
$color-border: $gray-11;

.module {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-weight: 600;
}

.chart {
  width: 100%;
  height: 400px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

.keywordItem {
  font-size: 12px;
  font-weight: 500;
  color: $color-text;
  background: $color-primary-light;
  border-radius: 16px;
  padding: 5px 10px;
  max-width: 180px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}

.keyword {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.addButton {
  font-size: 12px;
  color: $color-secondary;
  background: $color-white;
  border: 1px solid $color-border;
  border-radius: 16px;
  padding: 5px 10px;
  cursor: pointer;
}

.addInput {
  border: 1px solid $color-border;
  border-radius: 8px;
  padding: 6px 8px;
  @include font-sans();
  font-size: 12px;

  &:focus {
    outline: none;
  }
}

.periodDropdown {
  display: flex;
  justify-content: flex-end;
  select {
    border: 1px solid $color-border;
    border-radius: 8px;
    padding: 5px 8px;
    @include font-sans();
    font-size: 12px;
    background: $color-white;
    color: $color-secondary;

    &:focus {
      outline: none;
    }
  }
}

.empty {
  display: flex;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  span {
    font-size: 14px;
    color: $gray-18;
  }
  .desc {
    font-size: 12px;
    color: $gray-17;
  }
  .icon {
    width: 18px;
    height: 18px;
    color: $gray-17;
  }
}
