@use 'variable' as *;

.module {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.editTextarea {
  font-family: 'Spoqa Han Sans Neo';
  height: 100px;
  resize: none;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  overflow-y: auto;

  &:focus {
    outline: none;
    border-color: #009bf2;
  }
}

.editButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submitButton {
  padding: 10px 15px;
  background-color: #009bf2;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #4ebeff;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

.cancelButton {
  padding: 10px 15px;
  background-color: white;
  font-size: 15px;
  border: 1px solid #009bf2;
  border-radius: 5px;
  color: #009bf2;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: hsl(0, 0%, 94%);
  }
}

@media (max-width: $breakpoint-small) {
  .editTextarea {
    font-size: 14px;
  }

  .submitButton,
  .cancelButton {
    font-size: 13px;
    padding: 8px 12px;
  }
}
