@use 'variable' as *;

// Colors
$colorWhite: white;
$colorGray: gray;
$colorShadow: rgba(0, 0, 0, 0.09);

// Shadows
$boxShadow: $colorShadow 0px 2px 12px 0px;

.module {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 660px;
  padding: 20px;
  padding-top: 45px;
  background-color: $colorWhite;
  border-radius: 5px;
  border: none;
  box-shadow: $boxShadow;
}

.closeBtn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 20px;
  color: $colorGray;
  cursor: pointer;
}

// Media queries
@media (max-width: $breakpoint-small) {
  .module {
    width: 80%;
    height: 80%;
  }
}
