// Variables
$color-text-primary: #525252;
$color-text-secondary: #98a1a9;
$color-text-gray: gray;
$color-background-hover: #ededed;
$color-border-light: #dadada;

// Transitions
$hover-transition: all 0.2s ease-in-out;

// Mixins
@mixin text-ellipsis($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  word-wrap: break-word;
}

.module {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-right: 0.5rem;

  .title {
    font-size: 14px;
    font-weight: 500;
    color: $color-text-primary;
    margin-bottom: 10px;
    padding-bottom: 7px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 2px 0px;
    height: 44px;
    transition: $hover-transition;

    &:hover {
      background-color: $color-background-hover;
    }
  }

  .info {
    display: flex;
    flex-direction: column;

    .postTitle {
      font-size: 14px;
      color: $color-text-gray;
      @include text-ellipsis(1);
    }

    .date {
      font-size: 12px;
      color: $color-text-secondary;
    }
  }

  .postImgDiv {
    display: flex;
    align-items: center;

    .postImg {
      width: 64px;
      height: 44px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
