@use 'variable' as *;

.module {
  width: 100%;
  height: 100%;
  padding-left: 16rem;
  display: flex;
  justify-content: center;
  height: calc(100% - 4rem);
  overflow-y: auto;

  .article {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: $post-breakpoint) {
  .module {
    padding-left: 0;
  }
}
