@use 'variable' as *;

.module {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  border-bottom: 1px solid $gray-4;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .hashtags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
  }

  .icon {
    width: 16px;
    height: 16px;
  }

  .button {
    white-space: nowrap;
    border-radius: 25px;
    padding: 5px 12px;
    background-color: $gray-9;
    color: $gray-22;
    font-size: 12px;
    line-height: 1.5;

    &.selected {
      background-color: $blue-6;
      color: $white;
    }
  }
}

@media (max-width: $post-breakpoint-large) {
  .module {
    display: flex;
  }
}
