@font-face {
  font-family: 'NanumSquareNeo';
  src: url('/font/NanumSquareNeo-Variable.woff2') format('woff2');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 700;
  src: url('/font/SpoqaHanSansNeo-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  src: url('/font/SpoqaHanSansNeo-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 400;
  src: url('/font/SpoqaHanSansNeo-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 300;
  src: url('/font/SpoqaHanSansNeo-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 700;
  src: url('/font/FiraMono-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 500;
  src: url('/font/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Mono';
  font-weight: 400;
  src: url('/font/FiraMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Figtree';
  font-weight: 300;
  src: url('/font/Figtree-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-weight: 400;
  src: url('/font/Figtree-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-weight: 500;
  src: url('/font/Figtree-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-weight: 600;
  src: url('/font/Figtree-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  font-weight: 700;
  src: url('/font/Figtree-Bold.ttf') format('truetype');
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#__next {
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}

.main_area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #f8f9fa inset !important;
  -webkit-text-fill-color: #333 !important;
}

a {
  text-decoration: none !important;
}

button {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
  cursor: pointer;
  text-align: center;
  border: none;
}

ul,
ol {
  list-style-position: outside;
  margin: 1em 0 1em 0;
  padding-left: 1.5em;
}

.toastui-editor-popup {
  margin-left: 0 !important;
}

@media only screen and (max-width: 480px) {
  .toastui-editor-popup {
    margin-left: 0 !important;
  }
}
