@use 'variable' as *;

// Variables
$color-background: #f8f9fa;
$color-white: #ffffff;
$color-border: #e9ecef;
$color-text: #333;
$color-text-secondary: #868e96;
$color-primary: #0c7eff;
$color-primary-light: #e4f5ff;
$color-hover: #f8f9fa;

.module {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $color-white;
}

@media (max-width: $breakpoint-small) {
  .module {
    padding-right: 0;
  }
}
