@use 'variable' as *;

.module {
  width: 100%;

  .blogHeader {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    line-height: 4rem;
    position: relative;

    .logo {
      font-family: 'Fira Mono', monospace;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .authorId {
      display: none;
    }

    .loginBtn {
      color: white;
      background-color: #525252;
      border-radius: 30px;
      font-size: 12px;
      font-weight: 100;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        background-color: #8f8f8f;
      }
    }

    .accountMenu {
      display: flex;
      align-items: center;

      .writeBtn {
        color: #f8f9fa;
        background-color: #525252;
        border-radius: 30px;
        font-family: 'Spoqa Han Sans Neo', sans-serif;
        font-size: 12px;
        font-weight: 300;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;

        &:hover {
          background-color: #8f8f8f;
          color: white;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .logo {
    font-size: 1.1rem !important;
  }
}

@media (max-width: $breakpoint-medium-small) {
  .header {
    height: 3.5rem;
  }
}

@media (max-width: $breakpoint-small) {
  .header {
    height: 56px !important;
    .writeBtn {
      display: none;
    }

    .logo {
      font-size: 1rem !important;
    }

    .authorId {
      font-size: 1rem !important;
    }
  }
}

@media (max-width: $post-breakpoint-large) {
  .module {
    .blogHeader {
      border-bottom: 1px solid #dadada !important;
    }

    .authorId {
      display: block !important;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2rem;
      font-weight: 300;
      color: #525252;
      cursor: pointer;
    }
  }
}
