@use 'variable' as *;

.module {
  width: 100%;

  .blogHeader {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    line-height: 4rem;

    .logo {
      font-family: 'Fira Mono', monospace;
      font-size: 1.2rem;
      cursor: pointer;

      @media (max-width: $breakpoint-medium) {
        font-size: 1.1rem;
      }

      @media (max-width: $breakpoint-small) {
        font-size: 1rem;
      }
    }

    .loginBtn {
      color: white;
      background-color: #525252;
      border-radius: 30px;
      font-size: 12px;
      font-weight: 100;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 15px;
      padding-right: 15px;

      &:hover {
        background-color: #8f8f8f;
      }
    }

    .accountMenu {
      display: flex;
      align-items: center;

      .writeBtn {
        color: #f8f9fa;
        background-color: #525252;
        border-radius: 30px;
        font-family: 'Spoqa Han Sans Neo', sans-serif;
        font-size: 12px;
        font-weight: 300;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 15px;
        padding-right: 15px;
        border: none;

        &:hover {
          background-color: #8f8f8f;
          color: white;
        }
      }
    }
  }

  @media (max-width: $breakpoint-medium-small) {
    .header {
      height: 3.5rem;
    }
  }
}
