@use 'variable' as *;

// Colors
$color-primary: #333;
$color-secondary: #5c5c5c;
$color-tertiary: #aaa;
$color-border: #dadada;
$color-delete-btn: #ffffff;

// Font sizes
$font-size-title: 24px;
$font-size-content: 15px;
$font-size-created: 12px;

.module {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid $color-border;
  position: relative;

  .postTitleContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-break: break-all;
    padding: 0.5rem 0;
    a {
      text-decoration-line: none !important;
      color: black;
    }
  }

  .postThumb {
    display: flex;
    height: 16rem;
    justify-content: space-between;
    align-items: center;
    column-gap: 1.5rem;
  }

  .thumbContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 0.5rem;
  }

  .postTitle {
    text-decoration-line: none !important;
    font-size: $font-size-title;
    color: $color-primary;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.4em;
  }

  .postContent {
    font-size: $font-size-content;
    color: $color-secondary;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.4em;
    height: 4.1em;
  }

  .postCreated {
    font-size: $font-size-created;
    color: $color-tertiary;

    .separator {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .thumbImgDiv {
    display: flex;
  }

  .thumbImg {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
  }
  .deleteBtn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.5rem 0;
    span {
      width: fit-content;
      background-color: $color-delete-btn;
      text-decoration: underline;
      cursor: pointer;
      font-size: 14px;
      color: $color-secondary;
    }
  }
}

// Responsive styles
@media (max-width: $breakpoint-medium-small) {
  .postTitle {
    font-size: 20px !important;
  }

  .postContent {
    font-size: 15px !important;
  }

  .postCreated {
    font-size: 13px !important;
  }
}

@media (max-width: $breakpoint-small) {
  .module {
    height: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .postThumb {
    flex-direction: column-reverse;
    align-items: stretch;
    row-gap: 1.5rem;
    height: auto !important;
  }

  .postTitle {
    font-size: 14px !important;
    font-weight: 500;
  }

  .postContent {
    font-size: 12px !important;
  }

  .postCreated {
    font-size: 11px !important;
  }

  .thumbImgDiv {
    width: 100%;
    overflow: hidden;
  }

  .thumbImg {
    width: 100% !important;
    height: 300px !important;
  }
}
