@use 'variable' as *;

$error-bg: #343541;
$error-text: #d1d5db;
$error-button-bg: #545562;
$error-button-hover-bg: #5e5f6b;

.module {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 18rem;
  background-color: $error-bg;

  .errorImage {
    margin-bottom: 30px;
  }

  .errorText {
    margin-bottom: 3rem;
    color: $error-text;
    font-size: 40px;
    font-family: 'Fira Mono', monospace;
    font-weight: bolder;
  }

  .errorBtn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Fira Mono', monospace;
    font-size: 15px;
    background-color: $error-button-bg;
    color: $error-text;
    cursor: pointer;

    &:hover {
      background-color: $error-button-hover-bg;
    }
  }
}
