@use 'variable' as *;

$error-bg: $slate-1;
$error-text: $neutral-1;
$error-button-bg: $slate-2;
$error-button-hover-bg: $slate-3;

.module {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 18rem;
  background-color: $error-bg;

  .errorImage {
    margin-bottom: 30px;
  }

  .errorText {
    margin-bottom: 3rem;
    color: $error-text;
    font-size: 40px;
    @include font-mono($font-weight-bold);
    font-weight: bolder;
  }

  .errorBtn {
    padding: 10px;
    border-radius: 10px;
    border: none;
    @include font-mono();
    font-size: 15px;
    background-color: $error-button-bg;
    color: $error-text;
    cursor: pointer;

    &:hover {
      background-color: $error-button-hover-bg;
    }
  }
}
