// Variables
$color-text-secondary: #98a1a9;
$color-text-blog: #5c5c5c;

.module {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;

  .profileIcon {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 5px;
    margin-top: 15px;
  }

  .blogName {
    font-size: 30px;
    color: $color-text-blog;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
  }

  .nickname {
    font-size: 20px;
    font-weight: 300;
    color: $color-text-secondary;
    margin-top: 10px;
  }

  .btnDiv {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

    .createBtn {
      background-image: url('/icon/edit.png');
      background-color: transparent;
      background-size: 20px auto;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 30px;
      height: 30px;
      border: none;
      cursor: pointer;
    }
  }
}
