@use 'variable' as *;

$color-white: $white;
$color-border: $gray-5;
$color-primary: $gray-30;
$color-primary-light: $gray-6;

.module {
  padding: 0px 16px 0px 16px;
  background-color: $color-white;

  .hashtagList {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    input {
      flex: 1;
      padding: 8px 0px;
      border: none;
      font-size: 14px;
      outline: none;
      @include font-sans();
    }
    .hashtagChip {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      padding: 6px 12px;
      background-color: $color-primary-light;
      color: $color-primary;
      border-radius: 20px;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
