.chat_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #343541;
}

.chat_header_div {
  display: initial;
  width: 100%;
  height: 5%;
  text-align: center;
  border-bottom: 1px solid #545562;
  line-height: 40px;
}

.chat_header_title {
  color: #b0b0b1;
  font-size: 15px;
  font-weight: normal;
}

.chat_back_arrow {
  display: none;
}

.char_clear_btn {
  position: absolute;

  background-image: url('/icon/trash.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;

  border: none;
  vertical-align: middle;

  width: 24px;
  height: 24px;
  right: 15px;
  margin-top: 8px;
  cursor: pointer;
}

.chat_content_div {
  width: 100%;
  height: 95%;
  overflow-y: auto;
}

/* gpt 채팅 영역 */
.gpt_cntn_div {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  padding-bottom: 30px;
  word-break: break-all;
  line-height: 25px;
  background-color: #454654;
}

.gpt_img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.gpt_cntn_text {
  color: #d1d5db;
  font-size: 15px;
  font-weight: 300;
}

/* 사용자 채팅 영역*/
.user_cntn_div {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  padding-bottom: 30px;
  word-break: break-all;
  line-height: 25px;
}

.user_img {
  margin-right: 10px;
}

.user_cntn_text {
  color: #d1d5db;
  font-size: 15px;
  font-weight: 300;
}

/* 사용자 input text 영역 */
.user_input_div {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.user_input {
  width: 65%;
  height: 56px;
  background-color: #40414f;
  border-radius: 30px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  border: 1px solid rgba(32, 33, 35, 0.5);
  border-right: none;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif' !important;
  color: white;
  outline: none;
  margin-top: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.chat_submit_btn_div {
  background-color: #40414f;
  border: 1px solid rgba(32, 33, 35, 0.5);
  border-left: none;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  height: 56px;
  margin-top: 10px;
}

.chat_submit_btn {
  background-image: url('/icon/send.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  width: 40px;
  height: 30px;
  margin-top: 17px;
}

.MuiCircularProgress-root {
  position: absolute !important;
  top: 50% !important;
  right: 38% !important;
}

.MuiCircularProgress-colorPrimary {
  color: #ffffff !important;
}

@media (max-width: 768px) {
  .MuiCircularProgress-root {
    position: absolute !important;
    top: 50% !important;
    right: 45% !important;
  }

  .chat_back_arrow {
    color: #b0b0b1;
    position: absolute;
    left: 15px;
    cursor: pointer;
    display: initial;
  }

  .chat_header_div {
    height: 7% !important;
  }
}
