body {
  background-color: #f8f9fa;
  overflow-y: auto;
}
.index_div {
  width: 1319px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}

.index_header_div {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  line-height: 4rem;
}

.index_main_tab {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.index_main_tab_text {
  font-size: 16px;
  color: #868e96;
  width: 120px;
  text-align: center;
  font-weight: 400;
  cursor: pointer;
}

.index_main_active {
  color: #333;
  font-weight: 600;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

.index_main_div {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.index_main_title_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3.4rem;
}

.index_main_title {
  display: flex;
  justify-content: space-between;
  font-family: 'NanumSquareNeo';
  font-size: 45px;
  font-weight: 400;
  color: #333;
  border-bottom: 3px solid #333;
  margin-bottom: 5px;
  padding-bottom: 5px;
  min-width: 35rem;
}

.index_main_value {
  font-size: 22px;
  padding-top: 26px;
  color: #868e96;
}

.index_main_cnt {
  margin-left: 5px;
  font-size: 12px;
  color: #868e96;
}

.index_main_value_ico {
  font-size: 19px;
  padding-left: 5px;
}

.index_main_keyword_div {
  width: 100%;
  line-height: 3rem;
  text-align: center;
  padding-bottom: 3rem;
}

.index_main_keyword {
  display: inline-block;
  font-family: 'NanumSquareNeo';
  color: #868e96;
  font-size: 25px;
  font-weight: 300;
  margin-right: 25px;
}

.index_main_keyword:hover {
  color: #b8c2cc;
  cursor: pointer;
}

.index_article_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 27px;
  column-gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  align-content: baseline;
}

.index_article_div a {
  text-decoration: none;
  color: #333 !important;
}

.index_article {
  display: flex;
}

.index_article_img {
  object-fit: cover;
  width: 100px;
  height: 118.9px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.index_article_info {
  display: flex;
  width: -webkit-fill-available;
  height: 118.9px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.index_article_info:hover {
  background-color: #f5f5f5;
}

.index_article_title {
  font-size: 15px;
  font-weight: 500;
  color: #525252;
  padding-bottom: 5px;
  padding-top: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.8rem;
  word-wrap: break-word;
}

.index_article_desc {
  font-size: 13px;
  color: #495057;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  word-wrap: break-word;
}

.index_article_bottom {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 13px;
  color: #868e96;
}

.index_article_date {
  font-size: 12px;
  color: #868e96;
}

.index_highlight {
  font-weight: 500 !important;
  color: #333 !important;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.index_search_input_div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  margin-bottom: 7rem;
}

.index_search_input {
  font-family: 'Spoqa Han Sans Neo', sans-serif;
  font-size: 30px;
  font-weight: 400;
  background-color: #f8f9fa;
  color: #333;
  border: none;
  border-bottom: 3px solid #333;
  margin-bottom: 5px;
  padding-bottom: 5px;
  margin-right: 0px !important;
}

.index_search_input::placeholder {
  font-weight: 300;
}

.index_search_input:focus {
  outline: none;
}

.index_search_btn {
  font-size: 25px;
  border: none;
  cursor: pointer;
  background-color: #f8f9fa;
  border-bottom: 3px solid #333;
  margin-bottom: 5px;
  padding-bottom: 5px;
  color: #333;
  margin-left: 0px;
}

.index_search_tag_name {
  font-size: 45px;
  font-family: 'NanumSquareNeo';
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 15px;
}

.index_search_post_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  justify-items: center;
  padding-bottom: 30px;
}

.index_search_tag_div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.index_search_cnt_txt {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 300;
  color: #525252;
}

.index_search_cnt {
  color: #333;
  font-weight: 500;
}

.index_search_post {
  width: 19em;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.index_search_post:hover {
  cursor: pointer;
  transform: translateY(-5px); /* 요소를 5px만큼 들어올립니다. */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.index_search_post_img_div {
  position: relative;
  width: 100%;
  padding-top: 50%;

  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.index_search_post_img {
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  position: absolute;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.index_search_post_title_cntn {
  padding: 15px;
}

.index_search_post_title {
  font-size: 16px;
  font-weight: bold;
  color: #525252;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
  word-wrap: break-word;
}

.index_search_post_cntn {
  font-size: 14px;
  color: #525252;
  font-weight: 300;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5rem;
  word-wrap: break-word;
  margin-block-start: 5px;
}

.index_search_post_bottom {
  font-size: 0.75rem;
  color: #868e96;
  font-weight: 400;
}

.index_search_user_img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.index_search_post_summary {
  height: 20rem;
}

.index_search_post_author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 15px;
  border-top: 1px solid #efefef;
}

.index_like_text {
  font-size: 12px;
  color: #525252;
}

.index_search_user_text {
  font-size: 12px;
  color: #868e96;
  margin-right: 5px;
}

.index_search_nickname {
  font-size: 12px;
  font-weight: bold;
  color: #525252;
}

@media (max-width: 1370px) {
  .index_div {
    width: 1024px;
  }

  .index_main_title {
    font-size: 30px;
    min-width: 30rem;
  }

  .index_main_value {
    font-size: 20px;
    padding-top: 11px;
  }

  .index_main_value_ico {
    font-size: 17px;
  }

  .index_main_cnt {
    font-size: 11px;
  }

  .index_main_keyword {
    font-size: 22px;
  }

  .index_main_keyword_div {
    line-height: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .index_highlight {
    text-underline-offset: 7px;
  }

  /* post search*/
  .index_search_post_div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1050px) {
  .index_div {
    width: 850px;
  }

  .index_article_div {
    grid-template-columns: 1fr 1fr;
  }

  .index_main_title_div {
    margin-bottom: 2rem;
  }

  .index_main_title {
    font-size: 30px;
    min-width: 25rem;
  }

  .index_main_value {
    font-size: 18px;
    padding-top: 13px;
  }

  .index_main_value_ico {
    font-size: 15px;
  }

  .index_main_cnt {
    font-size: 10px;
  }

  .index_main_keyword {
    font-size: 20px;
  }

  .index_main_keyword_div {
    line-height: 2.3rem;
    padding-bottom: 2rem;
  }

  .index_highlight {
    text-underline-offset: 7px;
  }

  .index_main_tab_text {
    font-size: 14px;
  }

  .nav_logo_btn {
    font-size: 1.1rem;
  }

  /* post search*/
  .index_search_post_div {
    grid-template-columns: 1fr 1fr;
  }

  .index_search_post {
    width: 25em;
  }
}

@media (max-width: 870px) {
  .index_div {
    width: 730px;
  }

  .index_search_post {
    width: 22em;
  }
}

@media (max-width: 768px) {
  .index_div {
    width: 350px;
  }

  .nav_logo_btn {
    font-size: 1rem;
  }

  .index_main_tab_text {
    font-size: 12px;
  }

  .index_main_title {
    font-size: 22px;
    min-width: 15rem;
  }

  .index_main_title_div {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .index_main_value {
    font-size: 14px;
    padding-top: 12px;
  }

  .index_main_value_ico {
    font-size: 13px;
  }

  .index_main_keyword {
    font-size: 15px;
    margin-right: 15px;
  }

  .index_highlight {
    text-underline-offset: 5px;
  }

  .index_main_keyword_div {
    line-height: 1.7rem;
  }

  .index_main_keyword_div {
    width: 100%;
    padding-bottom: 2.5rem;
  }

  .index_article_date {
    font-size: 10px;
  }

  .index_article_div {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }

  .index_article_title {
    font-size: 13px;
  }

  .index_article_desc {
    font-size: 11px;
  }

  .index_article_bottom {
    font-size: 11px;
  }

  .index_article_info {
    height: 106.9px;
  }

  .index_article_img {
    height: 106.9px;
  }

  /*post search*/
  .index_search_post_div {
    grid-template-columns: 1fr;
  }

  .index_search_input_div {
    margin-bottom: 4rem;
  }

  .index_search_input {
    width: 60% !important;
    font-size: 22px;
    padding-bottom: 3px;
  }

  .index_search_btn {
    font-size: 20px;
    padding-bottom: 3px;
  }

  .index_search_post {
    width: 20em;
  }

  .index_search_tag_div {
    padding-left: 15px;
  }

  .index_search_tag_name {
    font-size: 35px;
  }

  .index_search_cnt_txt {
    font-size: 13px;
  }
}
