.index_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  align-items: center;
  background-color: #f8f9fa;
}

.index_header_div {
  display: flex;
  width: 80%;
  height: 10%;
  justify-content: space-between;
  line-height: 4rem;
}

.index_main_div {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.index_main_title_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.index_main_title {
  display: flex;
  justify-content: space-between;
  font-family: 'NanumSquareNeo';
  font-size: 45px;
  font-weight: 400;
  color: #333;
  border-bottom: 3px solid #333;
  width: 35rem;
  margin-bottom: 5px;
}

.index_main_value {
  font-size: 22px;
  padding-top: 22px;
  color: #868e96;
}

.index_main_cnt {
  display: flex;
  justify-content: flex-end;
  width: 35rem;
  font-size: 12px;
  color: #868e96;
}

.index_main_value_ico {
  font-size: 19px;
  padding-left: 5px;
}

.index_main_keyword_div {
  width: 80%;
  line-height: 3rem;
  text-align: center;
  padding-bottom: 8rem;
}

.index_main_keyword {
  display: inline-block;
  font-family: 'NanumSquareNeo';
  color: #333;
  font-size: 25px;
  font-weight: 300;
  margin-right: 25px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.index_main_keyword:hover {
  color: #848484;
  cursor: pointer;
}

.index_article_div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 30px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  grid-auto-flow: dense;
  align-content: baseline;
}

.index_article_div a {
  text-decoration: none;
  color: #333 !important;
}

.index_article {
  display: flex;
}

.index_article_img {
  object-fit: cover;
  width: 100px;
  height: 118.9px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.index_article_info {
  display: flex;
  height: 118.9px;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  background: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 4px 16px 0px;
  transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
}

.index_article_info:hover {
  background-color: #f5f5f5;
}

.index_article_title {
  font-size: 15px;
  font-weight: 500;
  color: #525252;
  padding-bottom: 5px;
  padding-top: 10px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.8rem;
  word-wrap: break-word;
}

.index_article_desc {
  font-size: 13px;
  color: #495057;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  word-wrap: break-word;
}

.index_article_bottom {
  padding-top: 15px;
  padding-bottom: 5px;
  font-size: 13px;
  color: #868e96;
}

.index_article_date {
  font-size: 12px;
  color: #868e96;
}
