.left_area {
  width: 19%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  overflow-y: auto;
}

.left_area::-webkit-scrollbar {
  display: none;
}

.left_area_header {
  width: 100%;
  display: flex;
  padding-left: 25px;
}

.left_area_logo_btn {
  font-size: 30px;
  cursor: pointer;
  color: #525252;
}

.left_area_logo_btn:hover {
  color: #8f8f8f;
}

.left_area a {
  text-decoration: none;
  margin-top: 10px;
}

.left_area_blog_name {
  font-size: 30px;
  color: #5c5c5c;
  font-weight: 500;
}

.left_area_title {
  font-size: 20px;
  font-weight: 300;
  color: #98a1a9;
  margin-top: 10px;
}

.left_area_btn_div {
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.left_profile_icon {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 5px;
}

.left_area_side_div {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.left_area_recent_title {
  font-size: 14px;
  font-weight: 500;
  color: #525252;
  margin-bottom: 10px;
  padding-bottom: 7px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #efefef;
}

.left_area_side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  height: 44px;
}

.left_area_side:hover {
  background-color: #ededed;
}

.left_area_side_info {
  display: flex;
  flex-direction: column;
}

.left_area_side_title {
  font-size: 14px;
  color: gray;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  word-wrap: break-word;
}

.left_area_side_date {
  font-size: 12px;
  color: #98a1a9;
}

.left_area_post_img {
  width: 64px;
  height: 44px;
  object-fit: cover;
  border-radius: 5px;
}

.left_area_hashtag {
  padding: 2px 20px 6px 20px;
  font-size: 14px;
  font-weight: 400;
  color: gray;
  display: flex;
  align-items: center;
}

.left_area_hashtag:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}

.left_area_hashtag_name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-height: 1.2rem;
  word-wrap: break-word;
}

.left_area_hashtag_cnt {
  color: #c0c0c0;
}

@media (max-width: 1150px) {
  .left_area {
    display: none;
  }
  .left_area_logo_btn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
  }
}
