.home_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 88%;
  overflow-y: auto;
}

.home_post_cnt {
  font-weight: normal;
  font-size: 20px;
  color: #5c5c5c;
}

.home_post {
  width: 1100px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.home_header {
  border-bottom: 1px solid #efefef;
  padding-bottom: 15px;
}

.home_post_title {
  text-decoration-line: none !important;
  font-size: 25px;
  color: #333;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4em;
}

.home_post_content {
  font-size: 15px;
  color: #5c5c5c;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4em;
  height: 6.9em;
}

.home_post_title_content {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #efefef;
  word-break: break-all;
}

.home_post_title_content a {
  text-decoration-line: none !important;
  color: black;
}

.home_post_created {
  font-size: 12px;
  color: #aaa;
}

.home_page_nav {
  height: 5%;
  text-align: center;
  line-height: 33px;
  color: #5c5c5c;
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.home_page_nav_prev {
  margin-right: 35px;
  cursor: pointer;
}

.home_page_nav_next {
  cursor: pointer;
  margin-left: 25px;
}

.home_page_num {
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
}

.home_page_nav_arr {
  font-weight: bolder;
  cursor: pointer;
}

.home_page_slct_num {
  background-color: #6bacce;
  height: 30px;
  width: 30px;
  color: white;
  border-radius: 50%;
}

.home_header_div {
  display: none;
}

.home_post_thumb {
  display: flex;
  justify-content: space-between;
}

.home_thumb_img {
  width: 150px;
  height: 150px;
  margin-left: 15px;
  border-radius: 10px;
  object-fit: cover;
}

.home_thumb_img_div {
  display: flex;
  align-items: center;
}
.home_header_btn {
  display: none;
}

@media (max-width: 1380px) {
  .home_post {
    width: 900px;
  }
}

@media (max-width: 1150px) {
  .home_post {
    width: 950px;
  }

  .home_div {
    height: 87%;
  }

  .home_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    line-height: 23px;
  }

  .home_header_div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid #efefef;
  }

  .home_blog_name {
    font-weight: 400;
    font-size: 35px;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
    color: #5c5c5c;
  }
  .home_header_title {
    font-size: 20px;
    color: #98a1a9;
  }

  .create_btn {
    background-image: none;
    background-color: #009bf2;
    width: 60px;
    height: 25px;
    font-size: 12px;
    color: white;
    border: none !important;
    cursor: pointer;
    font-family: 'Spoqa Han Sans Neo';
    border-radius: 5px;
  }

  .chatgpt_btn {
    width: 75px;
    height: 25px;
    border: none !important;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    border: 1px solid;
    background-color: #009bf2;
    font-size: 12px;
    border-radius: 5px;
    background-image: none;
    margin-right: 10px;
  }

  .home_post_content {
    -webkit-line-clamp: 3 !important;
    height: 3.9em !important;
  }

  .home_header_btn {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    display: initial;
  }

  .home_profile_img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
  }

  .home_page_nav {
    padding-bottom: 10px;
  }
}

@media (max-width: 990px) {
  .home_post {
    width: 800px;
  }
}

@media (max-width: 834px) {
  .home_post {
    width: 600px;
  }

  .home_post_cnt {
    font-size: 17px !important;
  }

  .home_post_title {
    font-size: 20px !important;
  }
  .home_post_content {
    font-size: 15px !important;
  }

  .home_post_created {
    font-size: 13px !important;
  }

  .home_page_nav_prev {
    font-size: 12px;
  }

  .home_page_nav_next {
    font-size: 12px;
  }

  .home_page_num {
    font-size: 12px;
    line-height: 26px;
    margin-top: 4px;
  }
  .home_page_slct_num {
    height: 25px;
    width: 25px;
  }
  .home_thumb_img {
    width: 130px !important;
    height: 130px !important;
    margin-left: 10px !important;
  }

  .home_post_content {
    -webkit-line-clamp: 3 !important;
    height: 3.9em !important;
  }
}

@media (max-width: 634px) {
  .home_div {
    height: 86%;
    background-color: white;
  }

  .home_post {
    width: calc(100% - 2rem);
  }

  .home_post_title {
    font-size: 14px !important;
    font-weight: 500;
  }

  .home_post_content {
    font-size: 12px !important;
  }

  .home_post_created {
    font-size: 11px !important;
  }

  .home_thumb_img {
    width: 100px !important;
    height: 100px !important;
    margin-left: 10px !important;
  }

  .home_profile_img {
    width: 80px;
    height: 80px;
  }

  .home_blog_name {
    font-size: 30px;
  }
  .home_header_title {
    font-size: 18px;
  }

  .home_page_nav {
    width: 100%;
    background-color: white;
    padding-bottom: 5px;
  }
}
