.login_div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 6rem;
}

.login_title {
  font-family: 'Fira Mono', monospace;
  font-size: 35px;
  margin-bottom: 30px;
  color: #525252;
}

.login_form {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.login_input_div {
  display: flex;
}

.login_input_text {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 16px;
  border: 1px solid #c7c7c7;
  background: transparent;
  padding: 15px;
  border-bottom: none;
  border-left: none;
  width: 90%;
}

.login_input_text:focus {
  outline: none;
}

.login_input_text:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}
.login_input_text:-webkit-autofill,
.login_input_text:-webkit-autofill:hover,
.login_input_text:-webkit-autofill:focus,
.login_input_text:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.login_emoji {
  padding-left: 15px;
  border: 1px solid #c7c7c7;
  color: #7f7f7f;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
  border-right: none;
}

.login_btn {
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 15px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: bold;
  color: white;
  background-color: #7f7f7f;
  cursor: pointer;
}

.signup_btn_div {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  margin-top: 10px;
  color: gray;
}

.signup_btn {
  cursor: pointer;
  color: #009bf2;
}

.validateErrMsg {
  font-size: 12px;
  color: red;
}

.login_label {
  font-size: 12px;
  color: gray;
  display: flex;
  align-items: center;
  width: 90px;
}

.login_checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 4px;
  width: 15px;
  height: 15px;
  border: 1px solid hsl(0, 0%, 82%);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.login_checkbox:checked {
  background-color: #7f7f7f;
  border: none;
}

.login_checkbox:checked::after {
  content: '\2713'; /* 유니코드로 체크 모양 추가 */
  display: block;
  text-align: center;
  line-height: 13px;
  color: white;
}

.login_sub_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_forgot_pw_btn {
  font-size: 12px;
  color: gray;
  cursor: pointer;
}

.login_forgot_pw_infoText {
  margin-bottom: 15px;
  font-weight: 500;
  color: gray;
}

@media (max-width: 768px) {
  .login_form {
    width: 330px !important;
  }

  .login_forgot_pw_infoText {
    font-size: 14px;
  }
}
