.nav_div {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-right: 15px;
}

.nav_logo_btn {
  font-family: 'Fira Mono', monospace;
  font-size: 1.325rem;
  font-weight: 500;
  cursor: pointer;
  color: #525252;
}

.nav_login_btn {
  color: white;
  background-color: #525252;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 100;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav_login_btn:hover {
  background-color: #8f8f8f;
}

/*로그인시 우측 상단 토글*/
.nav_menu_div {
  color: #525252;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav_menu_div:hover {
  color: #8f8f8f;
}

#nav_menu_img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  transition: all 0.125s ease-in 0s;
  box-shadow: rgba(0, 0, 0, 0.086) 0px 0px 8px;
}

.MuiMenuItem-root {
  color: #525252 !important;
}

.MuiMenuItem-root a {
  color: #525252 !important;
}

.nav_menu_item_ico {
  margin-right: 15px;
  width: 15px;
}

/*계정 정보 모달*/
.nav_modal_div {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 660px;
  padding: 20px;
  padding-top: 45px;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 12px 0px;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.2) !important;
}

.nav_modal_close_btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.nav_modal_profile {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.nav_profile_img_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  padding-right: 20px;
  border-right: 1px solid #d0d0d0;
}

#nav_profile_img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 15px;
  border-radius: 50%;
  object-fit: cover;
}

.nav_profile_detail_div {
  width: 65%;
  padding: 15px 0 15px 15px;
  display: flex;
  flex-direction: column;
}

.nav_modal_nickname_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#nav_modal_nickname {
  font-size: 30px;
  font-weight: 400;
  color: #333;
}

.nav_modal_input {
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: 'Spoqa Han Sans Neo';
}

.nav_modal_text_update_btn {
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  color: #009bf2;
}

.nav_modal_profile_btn {
  background-color: #009bf2;
  font-family: 'Spoqa Han Sans Neo';
  color: white;
  border: none;
  width: 50px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-left: 5px;
}

.nav_modal_profile_btn:hover {
  background-color: #4ebeff;
}

.nav_modal_cancel {
  background-color: hsl(35, 100%, 57%);
}

.nav_modal_cancel:hover {
  background-color: hsl(35, 93%, 68%) !important;
}

.nav_modal_email {
  font-size: 20px;
  color: gray;
}

.nav_img_upload_btn {
  width: 130px;
  background-color: #009bf2;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.nav_img_upload_btn:hover {
  background-color: #4ebeff;
}

.nav_img_del_btn {
  width: 170px;
  font-size: 16px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  background: none;
  border: none;
  color: #009bf2;
  cursor: pointer;
  font-weight: 500;
}

.nav_img_del_btn:hover {
  background-color: rgb(238, 238, 238);
}

.nav_modal_sub_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 20px;
  padding-top: 20px;
}

.nav_modal_sub_title {
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  width: 35%;
}

.nav_modal_sub {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.nav_modal_password_btn {
  width: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #009bf2;
  color: white;
  border: none;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav_modal_password_btn:hover {
  background-color: #4ebeff;
}

.nav_modal_pw_div {
  display: flex;
  flex-direction: column;
}

.nav_modal_pw_input {
  font-family: 'Spoqa Han Sans Neo';
  border: 1px solid #dddddd;
  border-radius: 5px;
  height: 30px;
  padding-left: 10px;
}

.nav_modal_leave_btn {
  width: 130px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: hsl(35, 100%, 57%);
  color: white;
  border: none;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.nav_modal_leave_btn:hover {
  background-color: hsl(35, 93%, 68%);
}

.nav_modal_leave_text {
  font-size: 13px;
  color: gray;
  margin-top: 10px;
}
