.post_area {
  height: 95%;
}
.post_main {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.post_div {
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 4rem;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 91%;
}

.post_title_created {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #efefef !important;
}

.post_title {
  font-weight: normal;
  font-size: 34px;
  color: #222;
  margin-bottom: 15px;
}

.post_created {
  font-size: 13px;
  color: #a7a7a7;
  margin-bottom: 15px;
  text-align: right;
}

.post_created a {
  text-decoration: none;
  color: #a7a7a7;
}

.post_content {
  font-size: 15px;
  color: #555;
  overflow: auto;
  height: 83%;
  word-break: break-all;
}

.post_title_input {
  border: none;
  border-bottom: 0px solid #efefef;
  font-size: 30px;
  padding-bottom: 15px;
  font-family: 'Spoqa Han Sans Neo';
  outline: none;
}

.post_content_textarea {
  border: none;
  margin-top: 20px;
  height: 76%;
  resize: none;
  font-family: 'Spoqa Han Sans Neo';
  margin-bottom: 10px;
}

.mg-r-10 {
  margin-right: 10px;
}

.mg-l-10 {
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

.post_btn_div {
  display: flex;
  justify-content: flex-end;
}

.post_submit_btn {
  border-radius: 20px;
  border: none;
  width: 61px;
  height: 30px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 200;
  background-color: black;
  color: white;
  cursor: pointer;
}

.post_cancel_btn {
  border-radius: 20px;
  border: 1px solid #d0d0d0;
  width: 61px;
  height: 30px;
  margin-right: 10px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 200;
  background-color: #f5f5f5;
  color: #333;
  cursor: pointer;
}

.post_header {
  display: none;
}

div:has(> .toastui-editor-defaultUI) {
  margin-top: 20px;
  margin-bottom: 20px;
}

pre:has(> code) {
  background-color: #f4f7f8;
  line-height: 40px;
  padding: 10px;
  border-radius: 10px;
}

.post_daily_keyword_div {
  display: flex;
  margin-left: 8rem;
  margin-right: 8rem;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  border-bottom: 2px solid #009bf2;
}

.post_daily_keyword_title {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 30px;
  font-weight: 500;
  color: #009bf2;
}

.post_base_date {
  font-size: 12px;
  color: #009bf2;
  font-weight: 500;
  padding-top: 20px;
}

.post_wordcloud_div {
  display: flex;
  justify-content: space-between;

  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 20px;
}

.post_linkage_div {
  width: 50%;
  padding-left: 10px;
}

.post_linkage_title {
  color: #009bf2;
  font-size: 20px;
  font-weight: 500;
}

.post_linkage_tag_div {
  margin-top: 10px;
}

.post_linkage_tag {
  margin-right: 10px;
  line-height: 3rem;
  padding: 10px;
  background-color: #a2a2a2;
  color: white;
  border-radius: 15px;
  word-break: keep-all;
  white-space: nowrap;
}

.post_sub_div {
  padding-left: 8rem;
  padding-right: 8rem;
  margin-bottom: 20px;
}

.post_sub_title_div {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid hsl(35, 100%, 57%);
  margin-bottom: 15px;
}

.post_sub_title {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 30px;
  font-weight: 500;
  color: hsl(35, 100%, 57%);
}

.post_fold_btn {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 12px;
  color: rgb(255, 164, 36);
  padding-top: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.post_article {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #efefef;
}

.post_selected_div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  padding-bottom: 5px;
}

.post_selected_key {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 20px;
  font-weight: 500;
  color: hsl(0deg 0% 53.01%);
}

.post_selected_cnt {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 12px;
  font-weight: 500;
  color: hsl(0deg 0% 72.93%);
  padding-top: 10px;
}

.post_article_detail {
  display: flex;
  justify-content: space-between;
}

.post_article_content_detail {
  text-decoration: none;
}

.post_article_content_detail pre {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4em;
  font-family: 'Spoqa Han Sans Neo';
  font-size: 12px;
  color: #00639b;
}

.post_article_title {
  font-family: 'Spoqa Han Sans Neo';
  color: #333333;
  font-size: 17px;
  font-weight: 500;
}

.post_article_summary {
  padding-top: 22px;
}

.post_article_summary span {
  color: #ababab;
  font-size: 12px;
}

.post_sub_title {
  font-family: 'Spoqa Han Sans Neo';
  font-size: 30px;
  font-weight: 500;
  color: hsl(35, 100%, 57%);
}

.post_line_chart_div {
}

.post_line_keyword_div {
  margin-bottom: 30px;
  margin-top: 30px;
}

.post_line_keyword {
  font-family: 'Spoqa Han Sans Neo';
  padding: 15px;
  border: 1px solid #e3e3e3;
  border-radius: 15px;
  background-color: transparent;
  font-size: 15px;
  margin-right: 5px;
}

.post_line_keyword_div button {
  cursor: pointer;
}

.post_line_keyword_div input {
  width: 75px;
}

.post_article_img {
}

.post_auto_tab {
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
}

.post_auto_tab_title {
  color: #8d8d8d;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #efefef;
  margin-right: -1px;
}

.post_focus_tab {
  border-bottom: 1px solid white;
  border-top: 2px solid #a3a3a3;
  padding-top: 9px;
}

.post_auto_tab_keyword_div {
  margin-top: 10px;
}

.post_auto_btn_div {
  display: flex;
  justify-content: space-between;
}

.post_auto_keyword_title {
  font-size: 14px;
  font-weight: 600;
  color: #8d8d8d;
}

.post_auto_input {
  border: 1px solid #dfe2e6;
  font-family: 'Spoqa Han Sans Neo';
  padding: 5px;
  border-radius: 10px;
  color: #8d8d8d;
}

.post_auto_button {
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Spoqa Han Sans Neo';
  border-radius: 5px;
  background-color: #b4b3b3;
  color: white;
  padding: 6px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.post_auto_daily_div {
  position: relative;
}

.post_auto_daily_content {
  margin-top: 10px;
  border: 1px solid #dfe2e6;
  height: 700px;
  overflow-y: auto;
  padding: 15px;
  border-radius: 10px;
}

/* progress 바 관련 */
.post_auto_daily_div .MuiBox-root {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #8d8d8d;
}
.post_auto_daily_div .MuiCircularProgress-colorSecondary {
  color: #009bf2;
  margin-bottom: 10px;
}

.tooltip {
  font-size: 19px;
  margin-left: 5px;
}

.small_tooltip {
  font-size: 12px;
  margin-left: 5px;
}

.css-1eqdgzv-MuiPaper-root-MuiSnackbarContent-root {
  min-width: 150px !important;
}

@media (max-width: 768px) {
  .post_div {
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
    padding-top: 1.5rem !important;
    height: 94%;
  }
  .post_header {
    display: inherit;
    width: 100%;
    height: 5%;
    text-align: center;
    border-bottom: 1px solid #efefef;
    line-height: 40px;
  }
  .post_header_title {
    color: #5c5c5c;
    font-size: 15px;
    font-weight: normal;
  }

  .post_main {
    height: 95%;
  }

  .post_title {
    font-size: 25px;
  }

  .post_created {
    font-size: 10px;
  }

  .post_content {
    font-size: 13px;
    height: 86%;
  }

  .post_back_arrow {
    color: #5c5c5c;
    position: absolute;
    left: 15px;
    cursor: pointer;
  }
  .post_title_input {
    font-size: 25px !important;
  }

  .post_content_textarea {
    font-size: 13px !important;
  }

  .toastui-editor-popup {
    left: 50vw !important;
  }

  .toastui-editor-file-name {
    width: 48% !important;
  }

  .toastui-editor-file-select-button {
    width: 40% !important;
  }

  .post_daily_keyword_div {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .post_daily_keyword_title {
    font-size: 20px;
  }

  .post_base_date {
    font-size: 5px;
    padding-top: 10px;
  }

  .post_wordcloud_div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
  }
  #wordcloud {
    width: 90% !important;
    height: 300px !important;
    margin-bottom: 15px;
  }

  .post_linkage_div {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .post_linkage_tag {
    font-size: 10px;
    line-height: 2.3rem;
    margin-right: 5px;
  }

  .post_sub_div {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
  }

  .post_sub_title {
    font-size: 20px;
  }

  .post_fold_btn {
    font-size: 5px;
    padding-top: 10px;
  }

  .tooltip {
    font-size: 12px;
  }

  .post_line_keyword {
    font-size: 10px;
    padding: 10px;
  }

  .post_line_keyword_div {
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .post_selected_key {
    font-size: 15px;
  }

  .post_selected_cnt {
    font-size: 10px;
    padding-top: 6px;
  }

  .post_article_title {
    font-size: 12px;
  }

  .post_article_content_detail pre {
    font-size: 10px;
  }

  .post_article_summary {
    padding-top: 10px;
  }

  .post_article_summary span {
    font-size: 5px;
  }

  .post_auto_tab_title {
    font-size: 10px;
  }

  .post_auto_button {
    font-size: 10px;
    margin-left: 5px;
  }
}
