.right_area {
  width: 81%;
  height: 100%;
  background-color: white;
  overflow-y: auto;
}

.right_header {
  display: flex;
  justify-content: flex-end;
  height: 5%;
  line-height: 4rem;
}

.create_btn {
  background: url('/icon/edit.png') no-repeat 50% 50%/20px auto;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.chatgpt_btn {
  background: url('/icon/chatGPT.png') no-repeat 50% 50%/35px auto;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  filter: invert(50%) sepia(1%) saturate(0%) hue-rotate(100deg) brightness(101%) contrast(89%);
}

.right_footer {
  position: absolute;
  bottom: 0;
  width: 81%;
  height: 5%;
  border-top: 1px solid #efefef;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  font-size: 12px;
}

.right_footer_text {
  color: #6bacce;
}

@media (max-width: 1150px) {
  .right_area {
    width: 100%;
  }
  .right_footer {
    width: 100%;
  }

  .right_header {
    background-color: #f8f9fa;
    height: 8%;
  }
}

@media (max-width: 768px) {
  .right_header {
    padding-right: 10px;
  }
  .right_area {
    width: 100%;
  }
  .right_footer {
    width: 100%;
    font-size: 10px;
  }
}
