// 반응형 레이아웃 breakpoint;
$breakpoint-large: 1920px;
$breakpoint-medium: 1440px;
$breakpoint-medium-small: 1024px;
$breakpoint-small: 768px;

$post-breakpoint-large: 1380px;
$post-breakpoint-medium: 1100px;
